            <div class="color-swatch">
              <div class="color-swatch-block" style="{{ include.block_style }}"></div>
              <div class="color-swatch-info">
                <div class="color-swatch-name">{{ include.name }}</div>
                <div class="color-swatch-hex swatch-hex-live"{% if include.hex_dual %} data-hex-dual="border"{% endif %}></div>
                <!-- <div class="color-swatch-role">{% if include.role_html %}{{ include.role_html }}{% else %}{{ include.role }}{% endif %}</div> -->
              </div>
            </div>
