<!-- {% if site.search == true %}
<div class="search-content">{% include search/search_form.html %}</div>
{% endif %} -->
<!-- 
<div id="cgit">
  <div class="content"> -->
    <table class="list nowrap" summary="Main table">
      <tbody>
        <tr class="nohover">
          <th class="left">Project</th>
          <th class="left">Description</th>
          <th class="left">Skills</th>
          <th class="left">Tools</th>
          <th class="left">Links</th>
        </tr>
      </tbody>
    </table>
  <!-- </div>
</div> -->
