{% comment %}
  Current page: page_group, section_key, page_group_base, group_pages (dual-prefix match, sort by url).
{% endcomment %}
{% assign url_parts = page.url | remove_first: "/" | split: "/" %}
{% assign page_group = url_parts[0] %}
{% assign section_key = page_group %}
{% assign page_group_base = "/" | append: page_group | append: "/" %}
{% assign sp_base_alt = "/" | append: page_group | append: "/" %}
{% assign sp_a = site.pages | where_exp: "item", "item.url contains page_group_base" %}
{% assign sp_b = site.pages | where_exp: "item", "item.url contains sp_base_alt" %}
{% assign group_pages = sp_a | concat: sp_b | uniq | sort: "url" %}
