---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}" style="background-color: #1a1a1a;">
    {% include skip-links.html %}
    <!-- {% include masthead.html %} -->


    <!-- <main class="initial-content" style="max-width: 1080px; margin: 0 auto; padding: 2rem;"> -->
    <main class="content" style="padding: 20px; background-color: #1a1a1a;">
      <div id="cgit">
        {{ content }}
        {% include after-content.html %}
      </div>
    </main>



    <div id="footer" class="page__footer" style="background-color: #1a1a1a;">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
