        <div class="button-row">
          {% for group_pair in dp.variants.groups %}
          {% assign g = group_pair[1] %}
          {% for item in g.items %}
          {% if item.options %}
          <div class="control-demo">
            <label class="field-label" for="{{ item.name }}">{{ item.label }}</label>
            <div class="combo-wrap">
              <select id="{{ item.name }}" class="combo">
                {% for option in item.options %}
                <option value="{{ option.key }}">{{ option.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="control-demo-hint">{{ item.hint }}</div>
          </div>
          {% else %}
          <div class="button-demo">
            <button type="button" class="{{ item.name }}"{% if item.disabled %} disabled{% endif %}>{{ item.label }}</button>
            <div class="button-demo-label">{% if item.desc_html %}{{ item.desc_html }}{% else %}{{ item.desc }}{% endif %}</div>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>